.title{
  margin-top:20px;
  margin-bottom:20px;
  width:40%;
}
.wireframe{
  width: 80%;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.wireframe-img{
  width:400px;
  height:300px;
}
.wireframe-desc{
  padding:40px;
  margin: 20px;
}
/*.wireframe-desc p{
  font-size: 2em;
}
.wireframe-desc h3{
  font-size: 3em;
}*/
